body {
    margin: 0;
    width: 100%;
    right: 100%;
    left: 100%;
    background-image: url(img/capa.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container {
    height: 550px;
    width: 80%;
    margin: 30px auto;
    background: #f1ece5;
    box-shadow:8px 8px 8px #9d7e4c;
    border-radius: 20px;
    padding: 1em;   
}

