body {
    margin: 0;
    padding: 5vh;
    box-sizing: border-box;
    width: 100%;
    right: 100%;
    left: 100%;
    background-image: url(img/capa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container {
    width: 90rem;
    height: 55rem;
    margin-left: auto;
    margin-right: auto;
    background: #f1ece5;
    box-shadow:8px 8px 8px #9d7e4c;
    border-radius: 20px;
    padding: 25px; 
    box-sizing: border-box;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color: #7e653d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.form-check{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    text-align-last: center; 
}

input, label {
    border: 0;
    display: block;
    width: 100%;
    text-align: center;
}

input:focus {
    border-color: #7e653d;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    text-align-last: center; 
}

.third-box{
    flex: 1 1 30%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    text-align-last: center; 
}

#botao-agendar{
    margin-left: 20rem;
}

#botao-menu{
    margin-left: 25rem;
}

#datetime{
    font-size: 20px;
}

button {
    margin-top: 3em;
    margin-left: 52em;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 15px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
    background-size: 300%;
    border-radius: 20px;
    z-index: 1;
}
   
button:hover {
    animation: ani 8s linear infinite;
    border: none;
}
   
@keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
}
   
button:before {
    content: '';
    position: relative;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom:-5px;
    z-index: -1;
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}
   
button:hover::before {
    filter: blur(20px);
}
   
button:active {
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
}






