body {
    width: 100%;
    right: 100%;
    left: 100%;
    background-image: url(img/capa.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container {
    height: 500px;
    width: 380px;
    margin: 30px auto;
    background: #f1ece5;
    box-shadow:8px 8px 8px rgb(58, 57, 57);
    border-radius: 20px;   
}

section{
    margin: 10px 0;
}

.button-cadastro {
    margin-bottom: 5em;
    padding: 5px 10px;
    border: nome;
}

.button-cadastro a {
    text-decoration: none;
    color: white;
}

.button-agendamento {
    margin-bottom: 5em;
    padding: 5px 10px;
    border: nome;
}

.button-agendamento a {
    text-decoration: none;
    color: white;
}

.button-agenda {
    margin-bottom: 5em;
    padding: 5px 10px;
    border: nome;
}

.button-agenda a {
    text-decoration: none;
    color: white;
}

button {
    margin-top: 4em;
    margin-left: -5em;
    margin-bottom: 2em;
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 15px;
    font-family: inherit;
    color: #fff;
    width: 12em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
    background-size: 300%;
    border-radius: 20px;
    z-index: 1;
   }
   
   button:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom:-5px;
    z-index: -1;
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   button:hover::before {
    filter: blur(20px);
   }
   
   button:active {
    background: linear-gradient(0deg, rgba(213,199,178,1) 0%, rgba(157,126,76,1) 100%);
   }

